.add-task-header {
  position: absolute;
  top: 206px;
  left: 328px;
}

.add-task-header > span {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  color: #000000;
}

.add-task-ctn,
.add-task-title,
.add-task-description,
.add-task-assigned,
.add-task-date,
.add-task-date-value,
.add-task-date-prio {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.add-task-ctn {
  position: absolute;
  top: 327px;
  left: 328px;
  height: 376px;

  align-items: center;
  justify-content: center;
}

.add-task-title {
  justify-content: center;
  gap: 8px;

  height: 96px;
}

.add-task-title > label,
.add-task-title > label > span,
.add-task-description > label,
.add-task-assigned > label,
.add-task-date-value > label,
.add-task-date-prio > label,
.add-task-date-category {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

label {
  color: #2a3647;
}

label > span {
  color: red;
}

#title,
#description,
.dropdown {
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
#title {
  width: 440px;
  height: 48px;
  padding: 12px 21px;
}

#title:focus-within,
#description:focus-within,
.add-task-date-value > input:focus-within {
  border-color: #29abe2;
  outline: none;
}

#title > ::placeholder,
#description > ::placeholder-shown {
  color: #d1d1d1;
}

.add-task-description {
  height: 168px;
  gap: 8px;
}

.add-task-description > textarea {
  padding: 18px 16px;
  max-width: 440px;
  max-height: 100%;
  color: #000000;
}

.add-task-assigned {
  height: 80px;
  gap: 8px;
}

.dropdown {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

#dropdownInput {
  width: 100%;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  background-color: transparent;
}

#dropdownInput::placeholder {
  color: #000000;
}

#dropdownInput:focus-within {
  outline: none;
}

.dropdown-arrow {
  width: 24px;
  height: 24px;
}

.dropdown-arrow:hover {
  background-color: #d1d1d1;
  border-radius: 50%;
  padding: 0.01px;
}
/* muss noch gemacht werden  */

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu label {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu label:hover {
  background-color: #f1f1f1;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 10px;
}

/*  ab hier erledigt  */

.partition {
  border: 1px solid #d1d1d1;
  width: 0;
  height: 424px;
  position: absolute;
  top: 327px;
  left: 816.25px;
}

.add-task-date {
  position: absolute;
  top: 327px;
  left: 864.25px;
  height: 416px;
}

.add-task-date-value {
  height: 96px;
  gap: 8px;
}

.add-task-date-prio {
  height: 88px;
  gap: 8px;
}

.add-task-date-value > input {
  height: 48px;
  width: 440px;
  border-radius: 10px;
  padding: 12px 16px;
  border: solid 1px #d1d1d1;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.prio-btn {
  width: 440px;
  height: 56px;
  display: flex;
  gap: 16px;
}

.prio-btn > button {
  border: none;
  border-radius: 10px;
  padding: 16px 10px;
  width: 136px;
  height: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prio-btn > button:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio-btn button.urgent.active {
  background-color: #ff3d00;
  color: white;
}

.prio-btn button.medium.active {
  background-color: #ffa800;
  color: white;
}

.prio-btn button.low.active {
  background-color: #7ae229;
  color: white;
}
