html {
  font-family: "Figtree";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Figtree";
  box-sizing: border-box;
  height: 100vh;
  background-color: #f6f7f8;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #29abe2;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2a3647;
}

input {
  margin: 0;
}

button {
  cursor: pointer;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 1024px;
  margin-left: 328px;
  padding-top: 96px;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}

.filter-color-to-white {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%)
    contrast(100%);
}

/* Verstecke die Standard-Checkbox */
input[type="checkbox"] {
  appearance: none; /* Entfernt das native Checkbox-Styling */
  -webkit-appearance: none; /* Für Safari */
  width: 20px; /* Größe der Checkbox */
  height: 20px;
  background-color: transparent; /* Hintergrund */
  border: 2px solid black; /* Schwarzer Rahmen */
  border-radius: 4px; /* Leicht gerundete Ecken */
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

/* Styling für die Checkbox, wenn sie aktiv ist */
input[type="checkbox"]:checked {
  background-color: white; /* Hintergrundfarbe beim Aktivieren */
  border: 2px solid black;
}

input[type="checkbox"]:checked::after {
  content: ""; /* Der Haken */
  display: block;
  width: 6px;
  height: 18px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  top: -6px;
  left: 8px;
}

/* Vertikaler Scrollbalken */
.main-content::-webkit-scrollbar {
  width: 4px; /* Breite des vertikalen Scrollbalkens */
}

/* Horizontaler Scrollbalken */
.add-task-ctn-date::-webkit-scrollbar {
  height: 4px; /* Höhe des horizontalen Scrollbalkens */
}

/* Hintergrund der Scrollbar-Spur */
.add-task-ctn-date::-webkit-scrollbar-track {
  background: #f1f1f1; /* Hintergrundfarbe */
}

/* Scrollbalken selbst */
.main-content::-webkit-scrollbar-thumb {
  background: #29abe2;
  /* Farbe */
  border-radius: 8px; /* Abgerundete Kanten */
}

/* Hover-Effekt */
.main-content::-webkit-scrollbar-thumb:hover {
  background: #2a3647; /* Farbe bei Hover */
}

@media (max-width: 1360px) {
  .main-content {
    margin-left: 268px;
  }
}

@media (max-width: 1250px) {
  .main-content {
    padding: 20px 16px;
    margin-left: 0;
    max-height: calc(100% - 140px);
  }
}

@media (max-width: 450px) {
  .main-content {
    padding: 20px 4px 20px 4px;
    margin-left: 0;
  }
}
