.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  height: 100vh;
  position: fixed;
  background-color: #2a3647;
  padding: 64px 0px;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ofice {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: center;

  a {
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #2a3647;
    color: #cdcdcd;
  }
}

.ofice > a:hover {
  color: #29b2ea;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  button {
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #2a3647;
    color: #cdcdcd;
  }
}

.menu > div:hover {
  background-color: #293d59;
  cursor: pointer;
}

.menu > div:hover button {
  background-color: #293d59;
  cursor: pointer;
}

.menu > div:hover img {
  filter: brightness(0.8); /* Bild leicht abdunkeln */
}

.summary,
.addTask,
.board,
.contacts {
  display: flex;
  gap: 20px;
}

.summaryMenu,
.addTaskMenu,
.boardMenu,
.contactsMenu {
  display: flex;
  padding: 8px 56px;
}

.bottom-menu-link a {
  text-decoration: none;
  color: #a8a8a8;
}


/*responsive nav----------------------------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Container für die Seite */
.content {
  flex: 1; /* Füllt den restlichen Raum */
}

/* Footer-Navbar */
.footer-nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(42,54,71);
  border-top: 1px solid #ccc;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #ededed; 
  font-size: 14px;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px; /* Platz zwischen Icon und Text */
}

.nav-item.active {
  color: #ededed; /* Farbe für aktives Element */
}

.nav-item:hover {
  color: rgb(255, 255, 255); /* Orange Farbe beim Hover (wie im Bild) */
}

.nav-item:hover img {
  transform: scale(1.2); /* Vergrößert das Icon leicht beim Hover */
}

