body {
  background-color: #f6f7f8;
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}
.main {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.logoDark {
  position: absolute;
  top: 80px;
  left: 77px;
}

.identify {
  display: flex;
  gap: 35px;
  padding-top: 67px;
  padding-left: 1039px;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.identify > span {
  font-size: 24px;
  font-weight: 400;
}

.identify > button {
  background-color: #2a3647;
  padding: 15px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.identify > button:hover {
  background-color: #29abe2;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.logIn {
  width: 652px;
  height: 493px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 48px 115px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.logInHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 315px;
  height: 89px;
}
.logInHeader > span {
  color: #000000;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  margin: 0;
  padding: 0;
}

.logInHeader > hr {
  border: 3px solid #29abe2;
  width: 150px;
  margin-block: 0;
}

.logInDate {
  display: flex;
  flex-direction: column;
  width: 422px;
  height: 196px;
  gap: 20px;
}

.logInPersonal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 422px;
  height: 152px;
}

.logInPersonal > .inputEmail {
  width: 422px;
  height: 48px;
  display: flex;
  gap: 10px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
}

.logInPersonal > .inputEmail > input {
  width: 380px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
  flex: 1;
  font-size: 20px;
  font-weight: 400;
}

.inputEmail:focus-within {
  border-color: #29abe2; /* Farbe des Fokusrahmens */
}

.logInPersonal > .inputPasword {
  width: 422px;
  height: 48px;
  display: flex;
  gap: 10px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
}

.logInPersonal > .inputPasword > input {
  width: 380px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  border: none;
}

.inputPasword:focus-within {
  border-color: #29abe2; /* Farbe des Fokusrahmens */
}

.error {
  position: relative;
  bottom: 30px;
  display: none;
  margin-block: 0;
  padding: 5px;
  margin: 0;
  height: 12px;
  font-size: 16px;
  color: #ff8997;
}

.checkbox {
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.checkbox > button {
  border: solid 2px #29abe2;
  border-radius: 8px;
  display: none;
  gap: 10px;
  font-size: 16px;
  background: #29abe2;
}

.checkboxResult {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 39px;
}

#checkbox {
  border-radius: 3px;
}

.checkbox > p {
  font-size: 16px;
  font-weight: 400;
}
.center {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allLogInBtn {
  display: flex;
  gap: 35px;
}

.logInButton {
  background-color: #2a3647;
  color: #ffffff;
  padding: 15px 24px;
  border: none;
  border-radius: 8px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logInButton:hover {
  background-color: #29abe2;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.logInButtonGuest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  padding: 15px 24px;
  border: solid 1px #2a3647;
  border-radius: 8px;
  background-color: #ffffff;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
}

.logInButtonGuest:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}   

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 8px;

  a {
    display: flex;
    padding: 8px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a8;
    text-decoration: none;
  }

  a:hover {
    color: #29abe2;
    font-weight: bold;
    cursor: pointer;
  }
}

.start-logo-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f7f8;
  z-index: 5;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.start-position-logo {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.end-position-logo {
  position: absolute;
  top: 80px;
  left: 77px;
  transform: translate(0%, 0%);
  width: 100.03px;
  height: 121.97px;
}

@media (max-width: 1350px) {
  .start-logo-background {
    background-color: #2a3647;
  }

  .start-position-logo {
    width: 100.03px;
    height: 121.97px;
  }

  .end-position-logo {
    width: 64px;
    height: 78.03px;
    top: 20px;
    left: 20px;
  }

  .start-position-logo .white-logo {
    fill: white;
    transition: fill 0.5s ease;
  }

  .end-position-logo .white-logo {
    fill: #2a3647;
  }

  .identify {
    padding-left: calc(1039px - (1350px - 100vw));
  }
}

@media (max-width: 700px) {
  .logIn {
    width: calc(652px - (700px - 100vw));
    height: 475px;
    padding: 32px;
    border-radius: 30px;
  }

  .logInHeader {
    width: 139px;
    height: 72px;
  }

  .logInHeader > span {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
  }

  .logInHeader > hr {
    width: 88px;
  }

  .logInDate {
    width: 364px;
    height: 152px;
    gap: 16px;
  }

  .logInPersonal {
    width: 364px;
    height: 48px;
    gap: 16px;
  }

  .logInPersonal > .inputEmail,
  .logInPersonal > .inputPasword {
    width: 364px;
    height: 48px;
    padding: 12px 21px;
  }

  .display {
    display: none;
  }

  .allLogInBtn {
    flex-direction: column;
    gap: 21px;
  }

  .logInButton,
  .logInButtonGuest {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    padding: 4px 0px;
    gap: 10px;
    font-size: 16px;
    line-height: 19.2px;
  }

  .identify {
    position: absolute;
    bottom: 40px;
    left: 49%;
    transform: translate(-50%, 0px);
    text-align: center;
    width: auto;
    padding: 0;
    height: 49px;
    gap: 35px;
  }

  .identify > span {
    font-size: 17px;
    line-height: 24px;
  }

  .identify > button {
    height: 49px;
    width: 104px;
  }
}

@media (max-width: 450px) {
  .logInDate,
  .logInPersonal,
  .logInPersonal > .inputEmail,
  .logInPersonal > .inputPasword {
    width: calc(364px - (450px - 100vw));
  }
  .logInPersonal > .inputEmail > input,
  .logInPersonal > .inputPasword > input {
    font-size: 16px;
  }
}

@media (max-height: 780px){
  .logIn{
    height: 65%;
  }
}

@media(max-height: 670px){
  .logIn{
    gap: 11px; 
  }

  .allLogInBtn{
    gap: 15px; 
  }
}

/*-----------------------------------------*/

